<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="4bdd4455d4a84b658a24081ed3e525df" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_4bdd4455d4a84b658a24081ed3e525df = echarts.init(
            document.getElementById('4bdd4455d4a84b658a24081ed3e525df'), 'white', {renderer: 'canvas'});
        var option_4bdd4455d4a84b658a24081ed3e525df = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "Australia",
                    "value": 791229
                },
                {
                    "name": "Canada",
                    "value": 1210159
                },
                {
                    "name": "China",
                    "value": -1741996
                },
                {
                    "name": "France",
                    "value": 182636
                },
                {
                    "name": "United Kingdom",
                    "value": 1303250
                },
                {
                    "name": "Japan",
                    "value": 357800
                },
                {
                    "name": "Russia",
                    "value": 912279
                },
                {
                    "name": "United States",
                    "value": 4774029
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "25%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "Australia",
                    "value": 989375
                },
                {
                    "name": "Canada",
                    "value": 1241416
                },
                {
                    "name": "China",
                    "value": -1552209
                },
                {
                    "name": "France",
                    "value": 423831
                },
                {
                    "name": "United Kingdom",
                    "value": 1300231
                },
                {
                    "name": "Japan",
                    "value": 358133
                },
                {
                    "name": "Russia",
                    "value": 1800600
                },
                {
                    "name": "United States",
                    "value": 4961716
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "75%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Australia",
                "Canada",
                "China",
                "France",
                "United Kingdom",
                "Japan",
                "Russia",
                "United States"
            ],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {}
    ]
};
        chart_4bdd4455d4a84b658a24081ed3e525df.setOption(option_4bdd4455d4a84b658a24081ed3e525df);
    </script>
</body>
</html>
